body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 900;
}

.card {
    border-radius: 16px;
}

.table {
    margin-bottom: 0;
}

.btn {
    font-weight: 700;
    border-radius: 10px;
}
